*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  color: black;
  background-color: #daf;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 17px;
}

.App-tareas {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor {
  width: 100%;
  margin: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.logo-img{
  width: 33px;
  height: 33px;
}

h1{
  color: black;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 8px 0;
}

.tareas-lista{
  width: 666px;
  min-height: 500px;
  background-color: #ffad;
  padding: 17px;
  margin: 8px;
  justify-content: center;
  border-radius: 25px;
}
/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/


